* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  border: 1px solid blue;
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}


header {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  border: 1px solid green;
  /* height: 70vh; */
}

footer {
  height: 3em;
}

section {
  border: 1px solid magenta;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}

button {
  background-color: aquamarine;
  padding: 0.5em 1em;
}

.education-item {
  border: 1px solid green;
  margin: 1em; 
}













.react-logo {
  height: 6em;
  padding: 1.5em;
  
  will-change: shadow;
  transition: shadow 100ms;
  
  animation-duration: 4s;
  animation-name: logo-spin;
  animation-iteration-count: infinite;
  animation-direction: forward;
  animation-timing-function: linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




